body {
    font: 1rem/1 "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

/* LuminanceSetter */

.ciu-search {
    position: relative;
    padding: .6em 0;
    font-size: 4rem;
    background: #767676; /* the brightest gray that satisfies the 4.5:1 contrast ratio against white */
    color: #fff;
    text-align: center
}

.ciu-search__input {
    /* Reset the default style of input text fields */
    background: transparent;
    border: 0;
    color: #fff;
    font: inherit;
    /* Style the text field */
    border-bottom: 1px solid #fff;
    text-align: center;
    width: 3em;
}

.ciu-search__input:focus {
    background: rgba(255,255,255,0.2);
    outline: none;
}

.error-message {
  font-size: 2rem;
  font-weight: 700;
  padding: .6em 0;
  text-align: center
}
.grey-container {
  background-color: grey;
  display: flex;
  height: 100px;
  position: relative;
  width: 100%;
}
.grey {
  flex: 1 0 0%;
  height: 100%;
}
.slider {
  position: relative;
  bottom: 55px;
  width: 100%;
}
/* Swash */
.swash-layout {
  display: flex;
  padding: 3px;
}
@media (min-width: 736px) {
  .swash-layout {
    padding: 28px;
  }
}
.swash-container {
  flex: 1 0 0%;
}
.swash-container:not(:last-child) {
  margin: 0 3px 0 0; /* Following Instagram */
}
@media (min-width: 736px) {
  .swash-container:not(:last-child) {
    margin: 0 28px 0 0; /* Following Instagram */
  }
}
.swash {
  padding: 100% 0 0 0;
  position: relative;
  width: 100%;
}
.swash:not(:last-child) {
  margin: 0 0 3px 0; /* Following Instagram */
}
@media (min-width: 736px) {
  .swash:not(:last-child) {
    margin: 0 0 28px 0; /* Following Instagram */
  }
}
.rgb-value {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
