body {
    font: 1rem/1 "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.error-message {
  font-size: 2rem;
  font-weight: 700;
  padding: .6em 0;
  text-align: center
}

.ciu-search {
    position: relative;
    padding: .6em 0;
    font-size: 4rem;
    background: #767676; /* the brightest gray that satisfies the 4.5:1 contrast ratio against white */
    color: #fff;
    text-align: center
}

.ciu-search__input {
    /* Reset the default style of input text fields */
    background: transparent;
    border: 0;
    color: #fff;
    font: inherit;
    /* Style the text field */
    border-bottom: 1px solid #fff;
    text-align: center;
    width: 3em;
}

.ciu-search__input:focus {
    background: rgba(255,255,255,0.2);
    outline: none;
}
